.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px 20px;
    background-color: var(--color-white-0);
    border-radius: 10px;
    box-shadow: 0 0 8px -5px;
    align-items: center;

    h3 {
        margin-bottom: 10px;
    }

    select {
        min-width: 100px;
        border-radius: 5px;
        padding-left: 3px;
        outline: none;
        margin-bottom: 10px;
        border: none;
        font-weight: 600;
        background-color: var(--color-white-0);
    }   

    .container-input {
        display: flex;
        flex-direction: column;

        .input-term {
            width: 330px;
            height: 28px;
            padding-left: 8px;
            border-radius: 6px;
            border: 1px solid var(--color-grey-1);
            outline: none;
        }

        .input-desc {
            width: 300px;
            height: 28px;
            border-radius: 6px;
            margin-top: 10px;
            outline: none;
            padding: 6px 10px;
        }

        .container-button {
            display: flex;
            justify-content: flex-end;
            margin-top: 6px;

            button {
                width: 60px;
                height: 30px;
                border-radius: 8px;
                border: none;
                background-color: var(--primary-color);
                color: var(--color-white-0);
                text-shadow: 0 0 8px -4px var(--color-black-1);
            }

            button:hover {
                opacity: .85;
            }

            button:active {
                opacity: .7;
            }
        }

        textarea {
            min-width: 330px;
            max-width: 330px;
            min-height: 150px;
            max-height: 150px;
        }
    }

    .container-option span {
        font-size: 15px;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-skip: 100px;
    }
}