.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 8px;
    cursor: pointer;
}

.container {
    display: flex;
    padding: 20px 30px 20px 20px;
    max-height: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px 0px #999;
    position: relative;
}

.img-fc {
    max-width: 130px;
    min-width: 130px;
    max-height: 250px;
    min-height: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.content input {
    border: none;
    outline: none;
    max-width: 300px;
    height: 40px;
    font-size: 25px;
}

.content textarea {
    min-width: 300px;
    max-width: 100%;
    min-height: 185px;
    max-height: 82%;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    outline: none;
    font-size: 15px;
}


.content button {
    background-color: #fff;
    border: 1px solid #999;
    height: 25px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #333;
}

.content textarea:focus {
    border: 2px solid #555;
    border-bottom: none;
}

.content textarea:focus~button {
    border: 2px solid #555;
    border-top: 1px solid #555;
}

@media (max-width: 600px) {
    .overlay {
        width: 100%;
        margin: 0;
    }

    .container {
        margin: 10px 0 0 0;
        padding: 10px;
    }

    .content input {
        font-size: 16px;
        font-weight: 800;
    }

    .img-fc {
        max-width: 100px;
        min-width: 100px;
        max-height: 180px;
        min-height: 180px;
        margin-right: 10px;
    }

    .content textarea {
        min-width: 80px;
        min-height: 115px;
        font-size: 13px;
    }
}