@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #00c8ff;
  --color-white-0: #fff;
  --color-white-1: #f7f7f7;
  --color-white-2: #ececec;
  --color-white-3: #cacaca;
  --color-black-0: #111;
  --color-black-1: #333;
  --color-black-2: #555;
  --color-grey-0: #999;
  --color-grey-1: #888;
  --color-grey-2: #777;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
option {
  font-family: 'Nunito', sans-serif;
}

select {
  background-color: var(--color-white-0);
}

.show {
  display: flex !important;
}

/* Scrollbar CSS */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.underline {
  text-decoration: underline;
}

.flicker {
  animation: flickerBackground 1s infinite;
}

@keyframes flickerBackground {
  0% {
    background-color: var(--color-white-0);
  }

  100% {
    background-color: var(--color-white-1);
  }
}