.container {
    display: flex;
    flex-wrap: wrap
}

.flashcard {
    background-color: red;
    width: max-content ;
    margin: 10px;
    padding:  0 50px 10px 10px;
    position: relative;
}

.flashcard h2 {
    color: green;
    white-space: normal;
}

.flashcard h2:hover  {
    color: wheat;
}

.flashcard h2:focus  {
    color: rgb(198, 255, 111) !important;
    outline: none;
}

.flashcard h2:focus ~ .update {
    display: block;
}

.flashcard span {
    color: black;
    white-space: normal;
}

.flashcard span:hover  {
    color: #333;
}

.flashcard span:focus  {
    color: rgb(162, 162, 162) !important;
    outline: none;
}

.flashcard span:focus ~ .update {
    display: block;
}


.delete {
    position: absolute;
    top: 25%;
    right: 10px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 6px;
}   

.filter{
    display: flex;
}

.update {
    display: none;
    position: absolute;
    top: 30%;
    right: 5px;
    cursor: pointer;
    padding: 3px 6px;
    z-index: 99;
}

.container_edit{
    display: flex; 
}
