.container,
.container_search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;

    h1 {
        color: var(--text-color-1);
    }
}

.container_search {
    margin-top: 60px;
}

.sort{
    display:flex;
}