.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

.flashcard {
    width: max-content;
    margin: 10px;
    padding: 8px 50px 8px 8px;
    position: relative;
    border: 1px solid #999;
    border-radius: 6px;
    max-width: 320px;
    min-width: 320px;
    min-height: 100px;
    display: flex;
    background-color: #fff;
    cursor: pointer;
}

.wrap-content{
    text-overflow: ellipsis;    
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-left: 10px;
}

.flashcard h2 {
    white-space: nowrap;
    font-size: 21px;
    cursor: text;
}

.flashcard img {
    max-height: 100px;
    min-width: 75px;
    border-radius: 5px;
}

.flashcard h2:hover {
    color: rgb(76, 70, 58);
}

.flashcard h2:focus {
    color: rgb(65, 76, 48) !important;
    outline: none;
}

.flashcard h2:focus~.update {
    display: block;
}

.flashcard span {
    color: black;
    white-space: nowrap;
}

.flashcard span:hover {
    color: #333;
}

.flashcard span:focus {
    color: rgb(121, 121, 121) !important;
    outline: none;
}

.flashcard span:focus~.update {
    display: block;
}


.delete {
    position: absolute;
    top: 35%;
    right: 0;
    cursor: pointer;
    padding: 3px 6px;
    font-size: 13px;
    display: none;
}

.filter {
    display: flex;
}

.update {
    display: none;
    position: absolute;
    top: 30%;
    right: 5px;
    cursor: pointer;
    padding: 3px 6px;
    z-index: 99;
}

.container_edit {
    display: flex;
}

.menu-container {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 5px 2px 5px 5px;
}

.flashcard:hover .delete {
    display: flex;
}

.menu-list {
    position: absolute;
    z-index: 999;
    background-color: white;
    box-shadow: 0 0 5px -2px;
    border-radius: 5px;
    padding: 20px;
}

.foo {
    background-color: red;
    color: red;
    width: 20px;
    height: 20px;
}

.wrap-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wrap-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}


