 $res_680 : "only screen and (max-width: 680px)";

 .container {
    flex-wrap: wrap;
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.topic{
    width: 47%;
    height: 60px ;
    margin: 10px;
    padding:  12px 0px 12px 10px;
    position: relative;
    border: 1px solid var(--color-white-3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-6);
    color: var(--text-color-3);

}

.quantity-container {
    // position: absolute;
    // right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity-container span{
    padding-right: 20px;
    font-size: 11px;
    margin-left: 20px;
}

@mixin responsive_680() {
    @media #{$res_680} {
        @content;
    }
}

@include responsive_680{
    .topic {
        width: 94%;
    }

    .topic h2{
        font-size: 18px;
    }

}