.container {
    flex-wrap: wrap;
    display: flex;
}

.topic{
    width: max-content;
    height: max-content ;
    margin: 10px;
    padding:  6px 0px 6px 10px;
    position: relative;
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.quantity-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity-container span{
    padding-right: 20px;
    font-size: 10px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .quantity-container span{
        font-size: 10px;
    }
    .topic h2{
        font-size: 18px;
    }
    
}