$res_600 : "only screen and (max-width: 600px)";

.container {
    flex-wrap: wrap;
    display: flex;
}

.collection {
    width: max-content;
    height: max-content;
    margin: 10px;
    padding: 6px 0px 6px 10px;
    position: relative;
    border: 1px solid var(--color-grey-0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: var(--color-white-0);
}

.quantity-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity-container span {
    padding-right: 20px;
    font-size: 10px;
    margin-left: 20px;
}

.header {
    display: flex;
    width: 100%;
    height: 201px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    background-color: var(--color-white-0);
}

.container-left img {
    max-width: 260px;
    border-right: 1px solid;
}

.container-right {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.collection-name,
.collection-description {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection-name span,
.collection-description span {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
}

.collection-name input {
    border: none;
    outline: none;
    font-size: 28px;
    color: var(--color-black-1);
    width: 90%;
}

.collection-description input {
    border: none;
    outline: none;
    width: 90%;
    font-size: 20px;
    color: var(--color-black-1);
}

.collection-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.collection-info span {
    color: var(--color-black-1);
    font-size: 14px;
}

.icon-bin {
    margin-right: 10px;
    cursor: pointer;
}

.header input::placeholder {
    color: var(--color-black-1);
}

.delete-icon{
    display: flex;
}

 // Variable

@mixin responsive_600() {
    @media #{$res_600} {
        @content;
    }
}

@include responsive_600{
    .collection h2 {
        font-size: 17px;
    }
}