 $res_600 : "only screen and (max-width: 600px)";

 .container {
    flex-wrap: wrap;
    display: flex;
}

.topic{
    width: max-content;
    height: max-content ;
    margin: 10px;
    padding:  6px 0px 6px 10px;
    position: relative;
    border: 1px solid var(--color-grey-0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: var(--color-white-0);
}

.quantity-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity-container span{
    padding-right: 20px;
    font-size: 10px;
    margin-left: 20px;
}

@mixin responsive_600() {
    @media #{$res_600} {
        @content;
    }
}

@include responsive_600{
    .quantity-container span{
        font-size: 10px;
    }
    .topic h2{
        font-size: 18px;
    }

}