.menu_list{
    position: absolute;
    z-index: 9;
    background-color: var(--background-color-2);
    border-radius: 8px;
    box-shadow: 0 0 7px -3px;
    width: max-content;
    display: none;
    flex-direction: column;
    left: -112px;
    box-shadow:  0 0 8px -3px var(--boxshadow-color-2);
   
}

.menu_list h4 {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color-1);
}

.menu_list h4:hover {
    background-color: var(--background-color-4);
}

.show {
    display: flex !important;
}