.topnav {
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: auto;
}

.topnav a {
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .menu_item:hover {
  background-color: #ddd;
  color: black;
}

.container_add {
  position: relative;
}

.icon {
  margin-left: 20px;
  padding: 6px;
}

.menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 0 1px;
  border-radius: 5px;
}

.menu .menu_item {
  cursor: pointer;
  margin-top: 6px;
  font-size: 15px;
  color: black;
  padding: 14px 16px;

}

.container_add:hover .menu {
  display: flex;
  flex-direction: column;
}

svg.btn-add {
  fill: rgb(5, 203, 237);
}

@media (max-width: 760px) {

}