.topnav {
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: auto;
}

.topnav .item {
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .item:hover {
  background-color: #ddd;
  color: black;
}

.topnav .menu_item:hover {
  background-color: #ddd;
  color: black;
}

.icon {
  margin: 0 15px;
  padding: 10px 5px 15px 9px;
  display: flex;
  justify-content: center;
}

.btn-add {
  fill: rgb(5, 203, 237);
}

.menu {
  display: none;
}

@media (max-width: 760px) {
  .item {
    display: none;
  }

  .topnav {
    justify-content: space-between;
  }

  .menu {
    padding: 12px 10px;
    margin: 0 10px;
    display: flex;
    cursor: pointer;
  }
}