.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-white-0);
    z-index: 99;
}

.container-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.close {
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.container-menu {
    margin-left: 0px;
}

.item {
    min-height: 30px;
    padding: 15px 0;
    display: flex; 
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}

.item span {
    margin-left: 15px;
    font-weight: 700;
}

.item:hover {
    background-color: #ffa;    
}