 $res_600 : "only screen and (max-width: 600px)";
 $res_750 : "only screen and (max-width: 750px)";
 $res_820 : "only screen and (max-width: 820px) and (min-width: 749px)";
 $res_950 : "only screen and (max-width: 950px) and (min-width: 819px)";

 .container {
   position: relative;
   width: 100%;
 }

 .form {
   height: 50px;
   display: flex;
   align-items: center;
   width: 100%;
 }

 .input {
   height: 30px;
   padding-left: 12px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border: 1px solid #999;
   border-right: none;
   outline: none;
   font-size: 12px;
   width: 100%;
 }

 .input:focus {
   border: 2px double #05cbed;
   border-right: none;
   outline: none;
 }

 .input:focus~.button {
   border: 2px double #05cbed;
   border-left: none;
   outline: none;
 }

 .button {
   height: 30px;
   width: 40px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border: 1px solid #999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   border-left: none;
   cursor: pointer;

   svg {
     font-size: 20px;
     width: 20px;
   }
 }

 .container_result {
   position: absolute;
   min-height: 100px;
   width: 100%;
   padding-top: 8px;
   border-radius: 8px;
   background: rgb(255, 255, 255);
   box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
   display: none;
   flex-direction: column;
   z-index: 999;
   padding: 10px;
   align-items: center;
   justify-content: center;
 }

 .search_item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   width: 100%;
   height: 55px;
 }

 .left_item {
   overflow: hidden;
   text-overflow: ellipsis;
   width: 85%;
 }

 .left_item h3 {
   font-size: 18px;
   font-weight: 600;
 }

 .left_item span {
   white-space: nowrap;
   font-size: 14px;
   color: #666;
 }

 .right_item {
   font-size: 12px;
   color: #999;
 }

 .close {
   position: absolute;
   right: 1px;
   top: -3px;
   cursor: pointer;
   padding: 0 5px;
 }

 @mixin responsive_600() {
   @media #{$res_600} {
     @content;
   }
 }

 @include responsive_600 {
   .input {
     width: 100%;
   }

   .container {
     width: 100%;
   }
 }